/* Base Setup */

$color-primary-1: hsl(136, 65%, 51%);
$color-primary-2: hsl(192, 70%, 51%);
$color-secondary: hsl(233, 26%, 24%);
$color-white: hsl(0, 0%, 100%);
$color-text-dark: hsl(233, 8%, 62%);
$color-text-dark-hover: hsl(233, 8%, 30%);
$color-text-light: hsl(220, 16%, 96%);

@font-face {
  font-family: 'Public Sans';
  src: url(fonts/PublicSans-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Public Sans';
  src: url(fonts/PublicSans-Medium.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Public Sans';
  src: url(fonts/PublicSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: Public Sans;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: $color-text-dark;
}
button {
  border: none;
  background: transparent;
}

a {
  text-decoration: none;
}
